---
import SkillsIcon from "@/icons/SkillsIcon.astro";
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
  <div class="icon-container">
    <SkillsIcon />
  </div>
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    font-weight: 500;
    border: 1px solid rgba(227, 211, 211, 0.2);
    border-radius: .2rem;
    background-color: #17191a;
    color: #FFF;
    padding: .3rem .6rem;
    font-size: .9rem;
  }

  :global(.dark) li {
    color: #252829;
  }
</style>